    /* Reset et mise en page */
    *{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }

    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    #left-sider{
      position: absolute;
      top: 0;
      left: -400px;
      width: 300px;
      height: 100%;
      background: white;
      z-index: 100;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      transition: left 1s ease;
      z-index: 10000;
      padding: 20px;

    }

    #left-sider.open{
      left: 0;
    }

    #left-sider button{
      top: 10px;
      left: 10px;
      z-index: 3000;
      font-size: 24px;
      background: white;
      border: none;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
    }

    /* Sidebar à gauche */
    #sidebar {
      position: absolute;
      flex-direction: column;
      align-items: center;
      top: 0;

      left: -40px;
      width: 40px;
      height: 100%;
      background: #fff;
      padding: 1rem;
      box-shadow: 2px 0 5px rgba(0,0,0,0.1);
      overflow-y: auto;
      z-index: 1000;
    }
    #sidebar img {
      max-width: 100%;
      height: auto;
      margin-bottom: 0.5rem;
    }

    
    /* Carte à droite, prend le reste */
    #map {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    /* Logo Google Maps */
    .google-maps-logo {
      width: 130px;
      height: auto;
    }

    #left-sider div {
      display: flex;
      justify-content:space-between;
      align-items: center;
    }

    .navbar {
      position: absolute;
      z-index: 2000;
      display: flex;

      top: 10px;
      left: 150px;
      right: 20px;
      align-items: center;
      padding: 5px;
    }

    .filter-buttons {
      display: flex;
      gap: 10px;
      margin-left: 30px;
      padding: 5px;
    }
    
    .filter-buttons button {
      padding: 5px 10px;
      background-color: #fff;
      color: black;
      border: 1px solid #ccc;
      border-radius: 20px;
      cursor: pointer;
    }

    #search-bar {
      display: flex;
      background-color: #fff;
      padding: 5px;
      border-radius: 20px;
      margin-right: 10px;
    }

    #search-bar input {
      width: 100%;
      border: none;
      outline: none;
      padding: 5px;
    }

    #search-bar button {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 20px;
      cursor: pointer;
    }

    .layer-controller{
      position: absolute;
      bottom: 10px;
      left: 20px;
      z-index: 2000;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    .layer-controller img{
      width: 60px;
      height: 60px;
      cursor: pointer;
      border-radius: 5%;
    }
    .layer-controller span{
      font-size: 12px;
      text-align: center;
    }

    #image-satellite{
      display: flex;
      flex-direction: column;
      color: white;
      border: 0.5px solid white;
      align-items: center;
    }

    #image-satellite span{
      position: absolute;
      bottom: 0.1rem;
    }

    #image-satellite img:hover{
      border: 3px solid white;
      border-radius: 5%;
    }

    #other-layers{
      position: relative;
      display: none;
      flex-direction: row;
      gap: 10px;
      background: white;
      padding: 10px;
      border-radius: 5%;
      transition: all 0.5s ease ;
    }

    .other-layers-image{
      display: flex;
      flex-direction: column;
    }

    .other-layers-image img:hover{
      border:2px solid blue;
      
    }
    
    .other-layers-image:hover span{
      color: darkblue;
    }